
.container{
    display: flex;
    justify-content: center;
    background-color: green;
}
.progress-container{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    /* background-color:red; */
    /* padding: 30px 30px; */
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    /* border: 10px aqua; */

    /* max-width: 100%; */
    width: 300px;
    position: relative;
}
.active{
    background-color: #cea1a1;

}
.progress-line::before{
    content: '';
    position: absolute;
    background-color: hsl(0, 0%, 0%);
    width: 100%;
    height: 4px;
    /* max-width: fit-content; */
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}
.progress-line{
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    transition:  0.4s ease-in;
}

.buttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    margin-left: 20px;
    background-color: beige;
    border-radius: 20%;
    cursor: pointer;
}
button:hover{
    font-size: larger;
}